<div class="container-fluid" ng-app="kashi">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 ng-if="word">{{word}}</h1>
    </div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Echo a word" autofocus ng-model="word">
        </div>
      </form>
    </div>
  </div>
</div>
